@{
    ViewData["Title"] = "Panel";
}

<div class="wrapper">

    <a asp-controller="Admin" asp-action="ListPackages">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/crown.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Plans</h3>
                    <h6>Manage Packages</h6>

                </div>
            </div>
        </div>
    </a>
    <a class="box-link" asp-controller="Bet" asp-action="Patterns">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/pattern.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Patterns</h3>
                    <h6>All possible lucks</h6>

                </div>
            </div>
        </div>
    </a>
    <a asp-controller="Admin" asp-action="Users">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/group.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Users</h3>
                    <h6>Display App Users</h6>

                </div>
            </div>
        </div>
    </a>
 @*   <a asp-controller="Admin" asp-action="Transactions">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/transaction-history.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Transactions</h3>
                    <h6>Purchase Records</h6>

                </div>
            </div>
        </div>
    </a>*@
    <a asp-controller="Admin" asp-action="Tickets">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/tickets.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Tickets</h3>
                    <h6>Manage Tickets</h6>

                </div>
            </div>
        </div>
    </a>
    
@*    <a asp-controller="Admin" asp-action="Bets">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/football.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Bets</h3>
                    <h6>List bet records</h6>

                </div>
            </div>
        </div>
    </a>*@
    @*<a asp-controller="Admin" asp-action="Interactions">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/heart.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Interactions</h3>
                    <h6>User's engagement</h6>

                </div>
            </div>
        </div>
    </a>
    <a asp-controller="Admin" asp-action="Logs">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/clock.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Logs</h3>
                    <h6>Website overall activities</h6>

                </div>
            </div>
        </div>
    </a>*@
   @* <a asp-controller="Admin" asp-action="ExportData">
        <div class="box">
            <div class="inside-box">
                <div class=" icon-box box2">
                    <img src="~/img/export.png" alt="-err" class="small-icon">
                </div>
                <div class=" label-box  box2">
                    <h3>Export Data</h3>
                    <h6>Download database records</h6>

                </div>
            </div>
        </div>
    </a>*@

</div>