@model YEGNA_BETS.Models.TicketDetailsViewModel
@{
    ViewData["Title"] = "Tickets Details";
}
<h4 class="sub-header">Ticket Details <img src="~/img/movie-ticket.png" class="small-icons" alt="wand-err" /></h4>
<hr />

<div class="wrapper-for-auth-form">
    <div class="user-form">

        <section>
            <form method="post" asp-controller="Admin" asp-action="RemoveTicket">

                <div class="content-wrapper item">
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Id" readonly />
                        <label class="form-label">Id</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Timestamp" placeholder="Timestamp" readonly />
                        <label class="form-label">Timestamp</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="PackageType" placeholder="Packpage Type" />
                        <label class="form-label">Package Type</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Value" placeholder="Value" />
                        <label class="form-label">Value</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="TicketCode" placeholder="Ticket Code" />
                        <label class="form-label">Ticket Code</label>
                        <span class="text-danger"></span>
                    </div>
                    @if(Model.IsUsed == 0)
                    {
                        <div class="form-floating mb-3">
                            <input class="form-control" value="Not Used" readonly />
                            <label class="form-label">Status</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating mb-3">
                            <input class="form-control" value="Already Used" readonly/>
                            <label class="form-label">Status</label>
                        </div>
                    }
                    <button type="submit" class="w-100 btn btn-lg danger">Remove</button>
                </div>
            </form>
            <form method="get" asp-controller="Admin" asp-action="Tickets">

                <div class="content-wrapper item">
                    <button type="submit" class="w-100 btn btn-lg secondary">Go Back</button>
                </div>
            </form>
        </section>
    </div>
</div>
