@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@*
<div>

</div>*@

<div class="wrapper-for-auth-form">
    <div class="auth-form">
        <section>
            <h1 class="slogan">@ViewData["Title"]</h1>
            <h6>
                Please check your email to reset your password.
            </h6>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login">
                <button class="w-100 btn btn-lg primary">login again ?</button>
            </form>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Register">
                <button class="w-100 btn btn-lg secondary">Create new account ?</button>
            </form>
        </section>
    </div>
</div>
