@{
}
<style>

</style>
<div class="wrapper-for-center-box">
    <section class="text">
        <h3>Whoops...! 🚫 Ticket Not Found!</h3>
    </section>
    <section>
        <form asp-controller="User" asp-action="BuyPackage">
            <button type="submit" class="w-100 btn btn-lg primary">Try Again</button>
        </form>
    </section>
</div>