@{
    ViewData["Title"] = "About Us Page";
}
<style>
    .header-text{
        color: #1D267D;
    }
</style>

<div class="">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container">
            <h1 class="text-body-emphasis header-text fw-bold">Discover Our Story</h1>
            <p class="col-lg-8 mx-auto lead">
                Introducing Yegna Bets, your ultimate companion in the world of soccer betting! Inspired by the remarkable stories of those who won lottery tickets by purchasing multiple tickets with potential winning combinations, we bring you a revolutionary approach to sports betting. Say goodbye to uncertainty and embrace a winning strategy at your fingertips. With Yegna Bets, we empower you with the best chance of success. Simply enter your desired matches and budget, and witness our cutting-edge system analyze countless possibilities, unveiling all potential combinations, probabilities, and success counts. We take the guesswork out of your hands, presenting you with the most promising outcomes, ordered by their lucrative payouts. Bet smarter, not harder, and let Yegna Bets maximize your winnings effortlessly. Get ready to embark on a journey where inspiration meets triumph!
            </p>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold header-text text-body-emphasis">Join the Winning Team</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            "Unlock the Power of Unparalleled Insights with Yegna Bets: Your Trusted Companion for Soccer Betting, Where Success is Amplified and Your Winning Odds are Maximized!"
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a asp-area="Identity" asp-page="/Account/Register">  <button type="button" class="btn primary btn-lg px-4 me-sm-3">Sign Up!</button></a>
            <a asp-area="Identity" asp-page="/Account/Login">  <button type="button" class="btn secondary btn-lg px-4">Login Now</button></a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
    </div>
</div>

