@{
    ViewData["Title"] = "Landing Page";
}
<div class="px-4 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/img/logo.png" alt="" width="162" height="162">
    <h1 class="display-5 fw-bold text-body-emphasis">YEGNA BETS</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            "Welcome to Yegna Bets, where unparalleled insights pave the way to victory! Our trusted platform maximizes your winning odds, making success in soccer betting an undeniable reality. Join us now and unlock the power of informed decisions for triumphant betting experiences!"
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-controller="Bet" asp-action="Index"><button type="button" class="btn primary btn-lg px-4 gap-3">"Start Winning Now with Yegna Bets!"</button></a>
        </div>
    </div>
</div>
